<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <nav> 
    <ul id ="nav">
      {% if g.user %}
        <li>{{ g.user['username'] }}</li>
        <li id="nav-Home"><a href="{{ url_for('home') }}">Home</a></li>
        <li id="nav-Log-Out"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
      {% else %}
        <li id="nav-Register"><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li id="nav-Log-In"><a href="{{ url_for('auth.login') }}">Log In</a></li>
      {% endif %}
    </ul>
  </nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>