<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADHD Key: Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="results.css">
    <link rel="icon" href="https://notion-emojis.s3-us-west-2.amazonaws.com/prod/svg-twitter/1f511.svg" 
    type="image/x-icon">
    <!--the above icon is just a placeholder until i develop a logo -bella -->
</head>
    <header>
		  <nav>
          {% if g.user %}
            <div class="left-links">
              <a href="/" id="home">Home</a>
            </div>
            <div>
              <a>{{ g.user['username'] }}</a>
            </div>
            <div class="right-links">
              <a href="/auth/logout">Log Out</a>
            </div>
          {% else %}
          <div class="left-links">
            <a href="/auth/register" id="register">Register</a>
          </div>
          <div class="right-links">
            <a href="/auth/login">Log In</a>
          </div>
      {% endif %}
    </ul>
  </nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>